each item in models
    .row
        .col-xs-3(style="height:150px;background-image:url(#{item.image});background-repeat: no-repeat;background-size: contain;background-position: center;")
        .col-md-9
            div 
                span.property-name Title
                span= item.title
            div Test
            div Test
            div Test
            div Test
            div Test
            div Test